
body {
    margin: 0;
    padding: 0;
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

    font-size: 80%;    
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    /* 画面選択を禁止するCSS */
    user-select: none;         /* CSS3 */
    -moz-user-select: none;    /* Firefox */
    -webkit-user-select: none; /* Safari、Chrome */
    -ms-user-select: none;     /* IE10～ */
}


#sns_id {
    display: none;
}
#file_path {
    position: relative;
    width: 100%;
}
#sns_name_wrap {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 70%;
}
#image_area {
    position: relative;
    min-height: 70px;
    background-color: #CCC;
}
#image_area:before {
    content: "No Image...";
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: #FFF;
    font-size: 150%;
    z-index: 5;
}
.bottom_bar{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.8);
    color: #666;
    z-index: 1001;
}

#good_button {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 40%;
    font-size: 200%;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    text-align: center;
}

#good_tack {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 40%;
    font-size: 200%;
    font-family: 'STHeitiJ-Light','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    text-align: center;
}

.bottom_bar_wrap {
    position: relative;
    height: 100%;
    font-family: 'STHeitiJ-Light';
}

#good_tack_count {
    color: #ff1e1e;
}

.button_bg {
    background-color: #ff1e1e;
    border-radius: 5px;
    width: 80%;
    padding: 4px;
    padding-bottom: 0px;
    color: #FFF;
    border-bottom: 4px solid #a00f0f;
}

#place_name {
    font-size: 220%;
    padding: 5px 15px;
    font-weight: bold;
    color: #666;
}

.sns_icon {
    width: 50px;
    margin: 5px 15px;
}

.sns_name_text {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-size: 180%;
    color: #666;
}

#sns_category {
    display: none;
}

#category {
    display: none;
}

#comment {
    padding: 5px 15px;
    word-wrap: break-word;
}

#city_code {
    display: none;
}

#lat {
    display: none;
}

#lng {
    display: none;
}

#has_file_flg {
    display: none;
}

#date {
    text-align: right;
    padding: 5px 15px;
}

#tack_image {
    position: relative;
    width: 100%;
    z-index: 500;
}

.wrapper {
    padding-bottom: 80px;
}

#reply_text_form {
    width: 96%;
    padding: 4px 2%;
    border-radius: 5px;
    margin: 3px 5px;
    font-size: 120%;
    border-color: #999;
    color: #666;
}

#send_button {
    width: 80%;
    display: inline-block;
    padding: 8px 0px;
    text-align: center;
    background-color: #ff1e1e;
    color: #FFF;
    border-radius: 5px;
    font-size: 120%;
    border-bottom: 4px solid #a00f0f;
}

.left {
    width: 75%;
}

.right {
    width:25%;
    text-align: center;
    vertical-align: top;
}

.send_area {
    width: 100%;
    text-align: center;
}

#reply_list {
    padding: 4px 10px;
}



.tack_date_time {
    text-align: right;
}

article {
    padding: 2px 4px;
    border-top: solid 1px #BBB;
    color: #666;
}
#bar {
    border-top: solid 1px #CCC;
    width: 95%;
    padding: 3px;
    margin: auto;
    font-family: 'STHeitiJ-Light','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: #BBB;
    font-weight: bold;
}

.gooded {
    background-color: #b2b2b2;
    border: 1px solid #9a9a9a;
    border-bottom: 4px solid #818181;
}